.butonlar {
  list-style: none;
  display: inline;
  padding-inline-start: 0px;
  li {
    cursor: pointer;
    display: inline;
    margin: 0.2rem;
    background-color: #b4b2b2;
    padding: 0.3rem;
    color: rgb(72, 55, 11);
    &:hover {
      background-color: #5f5f5f;
      color: rgb(210, 160, 33);
    }
  }
}
.secili {
  background-color: #2145c7 !important;
  color: rgb(235, 229, 213) !important;
}
